{% extends 'base3.html' %}

{% block title %} Acerca de.. {%  endblock %}


		
  {% block content %}
    <H3>{{ msg }}</H3>
   <div class='row-fluid'>
<div class='span6'><img src='/media/image/django.jpg' class='img-polaroid'></div>
<div class='span8'>
<p align="justify" class="text-info">	<font face="Comic Sans MS,Arial,Verdana" >Somos un grupo de desarrollo de sotware formado  en febrero de 2014 <strong>@rgusbemusoft</strong> empresa desarrolladora de software. Actualmente contamos con diferentes sectores de desarollo y manejo del software, incursionando igualmente en instalacion de redes, y talleres de la utilizacion del software libre.
	</font></p>

</div>
</div>
<pre class="literal-block">
    
    Print 'Hola @rgusbemus'
     	print 'Programamos para ti'
     		print 'Eso parece'
  
</pre>


	
	{% endblock %}

