{% extends "base3.html" %}
{% block title %} servicios|argusbemus {% endblock %}

{% block content %}

 
<div class='margen' style='width: 85%;'>
<header><h3><center> <p class=" text-info"> <strong>Servicios</strong></p></center></h3></header>
<hr>
<div class='row-fluid'>
<div class='span6'><img src='/media/image/django.jpg' class='img-polaroid'></div>
<div class='span8'><h2>Diseño Web</h2>
<p align="justify" class="text-info">	<font face="Comic Sans MS,Arial,Verdana" >Mejoramos tu sitio web con un estilo personalizado que tu desees, ademas de asesorarte
		otorgandote los mejores <strong>hosting</strong> para que alojes tus paginas, nos especializamos en otorgar al cliente el diseño que mas le agrade.
	</font></p>

</div>
</div>
<hr>
<div class='row-fluid'>


<div class='span8'><h2>Desarollo de software</h2>
<p align="justify" class=" text-info"> El desarrollo se basa en diferentes ambitos de programacion especializados en programacion orientada a objetos, unos de ellos es realizar Sistemas de ventas, facturaciones, sistema de registro de personal</p>

</div>
<div class='span6'>
	
<br><br><img src='/media/image/dev.jpg' class='img-polaroid'>    
</div>

</div>
<hr>
<dl class="dl-horizontal">
	<dt><strong>Lenguajes:</strong></dt>
  <dd><p class="text-warning">Java,Python,VisualBasic,Php</p></dd>
  <dt> <strong>Frameworks:</strong></dt>
  <dd><p class="text-warning">Hibernate,Spring,JPA,EJB,JSF,Primefaces,Icefaces,Django,Codegniter</p>
  </dd>
  


  
  <dt><strong>Manuales:</strong></dt>
  <dd><p class="text-warning">Les otorgamos manuales de referencia paso a paso de su software para un mejor manejo.</p></dd>
  <dt><strong>Tutoriales:</strong></dt>
  <dd><p class="text-warning">Creamos tutoriales para poder empezar en el mundo de programacion.</p></dd>

  


</dl>

</div>

{% endblock %}